<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Login.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>修改密码</title>
    <style>
        .panel{
    position: absolute;
    top: 35%;
    margin-top: -120px;
    left: 50%;
    margin-left: -500px;
    /* absolute居中 */
    background-color: rgba(244, 246, 247, 0.85);
    width: 40%;
    /* height: 自适应且最小2800px */
    height: 50%;
    border-radius: 25px;
    text-align: center;
    padding: 20px 40px;
    box-sizing: border-box;
  }
    </style>
</head>
<body>
    <h2>请输入您的新密码</h2>
    <form class="panel" method="POST" action="{{ url_for('set_new_password')  }}"><br><br>
        <h1 style="color: black;font-size: 42px;
  font-weight: 600;">请输入您的新密码</h1><br>
        <div class="input-group mb-3">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="input-group">
                <label for="new_password" class="input-group-text">新密码：</label>
                <input type="password" id="new_password" name="new_password" class="form-control input-group-text">
            </div>
            <div class="input-group">
                <label for="tryAgain" class="input-group-text">确认密码：</label>
                <input type="password" id="tryAgain" name="tryAgain" class="form-control input-group-text">
            </div>
            <button class="btn btn-outline-secondary" type="submit">提交新密码</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        
    </form>
</body>
</html>
